        html, body {
        height: 100%;
        margin: 0; padding: 0;  /* to avoid scrollbars */
        }

        .wrapper {
        display: flex;  /* use the flex model */
        min-height: 100%;
        flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
        }

        header, footer {
        background-color: #333333
        }

        section {
        flex: 1;
        }

        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
        }

        li {
        float: left;
        }

        li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        }

        li a:hover {
        background-color: #111111;
        }


        .tooltip {
        float: right;
        margin-top: 15px;
        }



        .tooltip .tooltiptext {
        visibility: hidden;
        width: 260px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        margin: auto;
        }



        .tooltip:hover .tooltiptext {
        visibility: visible;
        }


        p.user-info {
        margin: auto;
        width: 80;
        text-align: center;
        padding: 20px;
        font-size: 110%;
        color: gray;
        }


        .centered-panel {
        margin: 0 auto;
        padding-bottom: 5px;
        text-align: center;
        overflow: scroll;
        }


        fieldset {
        margin: 5px 30px;
        }


        .footer-text {
        margin: auto;
        width: 80;
        padding: 20px;
        text-align: center;
        color: #cccccc;
        font-size: 70%;
        }

