        html, body {
        height: 100%;
        margin: 0; padding: 0;  /* to avoid scrollbars */
        }

        .wrapper {
        display: flex;  /* use the flex model */
        min-height: 100%;
        flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
        }

        header {}

        footer {}

        section {
        flex: 1;
        }


        nav {
        float: left;
        max-width: 260px;
        margin: 0 5px;
        padding: 0;
        }

        nav ul {
        list-style-type: none;
        padding: 0;
        }

        nav ul a {
        text-decoration: none;
        color: white;
        }



        .tooltip {
        float: right;
        margin-top: 15px;
        }



        .tooltip .tooltiptext {
        visibility: hidden;
        width: 260px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        margin: auto;
        }



        .tooltip:hover .tooltiptext {
        visibility: visible;
        }


        p.user-info {
        margin: auto;
        width: 80;
        text-align: center;
        padding: 20px;
        font-size: 110%;
        color: gray;
        }


        .centered-panel {
        margin: 0 auto;
        padding-bottom: 5px;
        text-align: center;
        overflow: scroll;
        }


        fieldset {
        margin: 5px 30px;
        }

