
        #container {
        position: relative;
        margin: auto;
        width: 60%;
        height: 750px;
        border-style: inset;
        }

        header {
        background-color: DarkSlateGray;
        }


        nav {
        float: left;
        max-width: 260px;
        margin: 0 5px;
        padding: 0;
        }

        nav ul {
        list-style-type: none;
        padding: 0;
        }

        nav ul a {
        text-decoration: none;
        color: white;
        }


        footer {
        background-color: DarkSlateGray;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        }


        #content {
        }



        .tooltip {
        float: right;
        margin-top: 10px;
        margin-right: 12px;
        }



        .tooltip .tooltiptext {
        visibility: hidden;
        width: 260px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        margin: auto;
        }



        .tooltip:hover .tooltiptext {
        visibility: visible;
        }



        section {
        margin: 30px 5px;
        }


        .panel {
        margin: 5px auto;
        text-align: center;
        }


        fieldset {
        margin: 5px 30px;
        border-radius: 5px;
        }

        p.user-info {
        margin: auto;
        background-color: DarkSlateGray;
        text-align: center;
        width: 35%;
        padding: 3px;
        color: white;
        font-size: 110%;
        }
