
        #container {
        position: relative;
        margin: auto;
        height: 900px;
        border: 1px solid;
        border-style: groove;
        border-color: grey;
        }

        header {
        background-color: LightGray;
        }

        footer {
        background-color: LightGray;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        }

        #content {
        border: 3px solid blue;
        }

        nav {
        float: left;
        max-width: 260px;
        margin: 0 5px 0 5px;
        padding: 0;
        }

        nav ul {
        list-style-type: none;
        padding: 0;
        }

        nav ul a {
        text-decoration: none;
        color: blue;
        }


        .tooltip {
        float: right;
        margin-top: 10px;
        margin-right: 12px;
        }

        .tooltip .tooltiptext {
        visibility: hidden;
        width: 260px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 2px;
        margin: auto;
        }

        .tooltip:hover .tooltiptext {
        visibility: visible;
        }

        section {
        border: 1px groove red;
        margin: 50px 5px;
        }


        fieldset {
        border-radius: 5px;
        }

        .signOutForm {
        visibility: hidden;
        }

