
.userForm {
    padding: 20px 0 10px 0;
    text-align: center;
    margin: auto;
}

.sendButton {
        text-align: center;
}

fieldset {
    background-color: #99bbff;
}


.signOutForm {
    visibility: hidden;
}



