#header {
    padding: 0.5%;
}

#clientform {
    visibility: hidden;
    float: right;
    margin-left: 1em;
}


.tooltip {
    position: relative;
    display: inline;
    float:right;
    padding: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.command-button {
    float: left;
    margin-left: 10px;
}



